.loader {
  display: flex;
  gap:5px;

  &::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #3F72AF;
    border-radius: 50%;
    animation: bouncedAnimation 1s ease-in-out infinite;
  }
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #3F72AF;
    border-radius: 50%;
    animation: bouncedAnimation 1s ease-in-out 0.33s infinite;
  }
 
  span{
    background-color: #3F72AF; 
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    color: transparent;
    border-radius: 50%;
    animation: bouncedAnimation 1s ease-in-out 0.66s infinite;
   
  }
  
  
}

@keyframes bouncedAnimation{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}


